.container{
    display: flex;
    display : flex;
    justify-content: center;
    align-items : center;
}

.box {
    width:420px;
    height:650px;
    margin-top: 200px;
    margin-right: 100px;    
}

.box > img{
    max-width:100%;
    max-height:100%;
    object-fit:cover;
}

.app {
    width: 420px;
    height: 650px;
    border: 3px solid #444444;
    margin-top: 150px;
    position: relative;
     
}

.app>h1{
    display: flex;
    justify-content: center;
}

.app > form {
    position: absolute;
    top: 30%;
    left: 15%;
}

input{
    width: 300px;
    height: 50px;
}

button#submit{
    width: 300px;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 30px;
    border-radius: 10px;
    background-color: #FFCD4A;
    font-size: 30px;
    font-weight: 600;
}

textarea#introduce {
    position: absolute;
    width: 85%;
}

.address {
    position: absolute;
    width: 100%;
    display: flex
}