{% extends "base.html" %}
{% load static %}

{% block title %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<title>회원가입</title>
{% endblock title %}

{% block content %}
<div id="main-container" class="container">  
    <div class="box">
      <img src="{% static 'images\logo.png' %}" alt="오운완" />
    </div>
    <div class="app">
      <div class="title">
          <h1 style="text-align: center;font-weight: 700;margin-top: 10%;">회원가입</h1>
        </div>
          <form>
              {% csrf_token %}
              <div class="username">
                  <input
                  type="text"
                  id="username"
                  placeholder="사용자명"
                  name="username"
                  />
              </div>
              <br>
              <div class="pw">
                  <input
                  type="password"
                  id="password"
                  placeholder="비밀번호"
                  name="password"
                  />
              </div>
              <br>
              <div class="email">
                <input type="text"
                id="email"
                placeholder="이메일"
                name="email">
              </div>
              <br>
              <div class="introduce">
                <textarea id="introduce"
                placeholder="자기소개를 입력해주세요."
                name="introduce"></textarea>
              </div>
              <br>
              <div class="address">
                <select class="form-select form-select-sm" aria-label="Small select example" id="address">
                  <option selected>주소 입력</option>
                  {% comment %} 서울 {% endcomment %}
                  <optgroup label="서울">
                    <option value="서울 강서구">강서구</option>
                    <option value="서울 강북구">강북구</option>
                    <option value="서울 강동구">강동구</option>
                    <option value="서울 강남구">강남구</option>
                    <option value="서울 관악구">관악구</option>
                    <option value="서울 광진구">광진구</option>
                    <option value="서울 구로구">구로구</option>
                    <option value="서울 금천구">금천구</option>
                    <option value="서울 노원구">노원구</option>
                    <option value="서울 동대문구">동대문구</option>
                    <option value="서울 도봉구">도봉구</option>
                    <option value="서울 동작구">동작구</option>
                    <option value="서울 마포구">마포구</option>
                    <option value="서울 서대문구">서대문구</option>
                    <option value="서울 서초구">서초구</option>
                    <option value="서울 성북구">성북구</option>
                    <option value="서울 송파구">송파구</option>
                    <option value="서울 양천구">양천구</option>
                    <option value="서울 영등포구">영등포구</option>
                    <option value="서울 용산구">용산구</option>
                    <option value="서울 은평구">은평구</option>
                    <option value="서울 중구">중구</option>
                    <option value="서울 종로구">종로구</option>
                    <option value="서울 중랑구">중랑구</option>
                  </optgroup>
                  {% comment %} 인천 {% endcomment %}
                  <optgroup label="인천">
                    <option value="인천 연수구">연수구</option>
                    <option value="인천 남동구">남동구</option>
                    <option value="인천 부평구">부평구</option>
                    <option value="인천 미추홀구">미추홀구</option>
                    <option value="인천 동구">동구</option>
                    <option value="인천 서구">서구</option>
                    <option value="인천 계양구">계양구</option>
                    <option value="인천 옹진군">옹진군</option>
                    <option value="인천 강화군">강화군</option>
                  </optgroup>
                  {% comment %} 경기 {% endcomment %}
                  <optgroup label="경기">
                    <option value="경기 가평군">가평군</option>
                    <option value="경기 연천군">연천군</option>
                    <option value="경기 양평군">양평군</option>
                    <option value="경기 수원시 장안구">수원기 장안구</option>
                    <option value="경기 수원시 권선구">수원시 권선구</option>
                    <option value="경기 수원시 팔달구">수원시 팔달구</option>
                    <option value="경기 수원시 영통구">수원시 영통구</option>
                    <option value="경기 성남시 수정구">성남시 수정구</option>
                    <option value="경기 성남시 중원구">성남시 중원구</option>
                    <option value="경기 성남시 분당구">성남시 분당구</option>
                    <option value="경기 안양시 만안구">안양시 만안구</option>
                    <option value="경기 안양시 동안구">안양시 동안구</option>
                    <option value="경기 부천시 원미구">부천시 원미구</option>
                    <option value="경기 부천시 소사구">부천시 소사구</option>
                    <option value="경기 부천시 오정구">부천시 오정구</option>
                    <option value="경기 안산시 상록구">안산시 상록구</option>
                    <option value="경기 안산시 단원구">안산시 단원구</option>
                    <option value="경기 고양시 덕양구">고양시 덕양구</option>
                    <option value="경기 고양시 일산동구">고양시 일산동구</option>
                    <option value="경기 고양시 일산서구">고양시 일산서구</option>
                    <option value="경기 용인시 처인구">용인시 처인구</option>
                    <option value="경기 용인시 기흥구">용인시 기흥구</option>
                    <option value="경기 용인시 수지구">용인시 수지구</option>
                    <option value="경기 의정부시">의정부시</option>
                    <option value="경기 광명시">광명시</option>
                    <option value="경기 동두천시">동두천시</option>
                    <option value="경기 평택시">평택시</option>
                    <option value="경기 과천시">과천시</option>
                    <option value="경기 구리시">구리시</option>
                    <option value="경기 남양주시">남양주시</option>
                    <option value="경기 오산시">오산시</option>
                    <option value="경기 시흥시">시흥시</option>
                    <option value="경기 군포시">군포시</option>
                    <option value="경기 의왕시">의왕시</option>
                    <option value="경기 하남시">하남시</option>
                    <option value="경기 파주시">파주시</option>
                    <option value="경기 이천시">이천시</option>
                    <option value="경기 김포시">김포시</option>
                    <option value="경기 화성시">화성시</option>
                    <option value="경기 광주시">광주시</option>
                    <option value="경기 양주시">양주시</option>
                    <option value="경기 포천시">포천시</option>
                    <option value="경기 여주시">여주시</option>
                  </optgroup>
                  {% comment %} 강원 {% endcomment %}
                  <optgroup label="강원">
                    <option value="강원 춘천시">춘천시</option>
                    <option value="강원 원주시">원주시</option>
                    <option value="강원 강릉시">강릉시</option>
                    <option value="강원 동해시">동해시</option>
                    <option value="강원 태백시">태백시</option>
                    <option value="강원 속초시">속초시</option>
                    <option value="강원 삼척시">삼척시</option>
                    <option value="강원 홍천군">홍천군</option>
                    <option value="강원 횡성군">횡성군</option>
                    <option value="강원 영월군">영월군</option>
                    <option value="강원 평창군">평창군</option>
                    <option value="강원 정선군">정선군</option>
                    <option value="강원 철원군">철원군</option>
                    <option value="강원 화천군">화천군</option>
                    <option value="강원 양구군">양구군</option>
                    <option value="강원 인제군">인제군</option>
                    <option value="강원 고성군">고성군</option>
                    <option value="강원 양양군">양양군</option>
                  </optgroup>
                  {% comment %} 충남 {% endcomment %}
                  <optgroup label="충남">
                    <option value="충남 천안시 동남구">천안시 동남구</option>
                    <option value="충남 천안시 서북구">천안시 서북구</option>
                    <option value="충남 공주시">공주시</option>
                    <option value="충남 보령시">보령시</option>
                    <option value="충남 아산시">아산시</option>
                    <option value="충남 서산시">서산시</option>
                    <option value="충남 논산시">논산시</option>
                    <option value="충남 계룡시">계룡시</option>
                    <option value="충남 당진시">당진시</option>
                    <option value="충남 금산군">금산군</option>
                    <option value="충남 부여군">부여군</option>
                    <option value="충남 서천군">서천군</option>
                    <option value="충남 청양군">청양군</option>
                    <option value="충남 홍성군">홍성군</option>
                    <option value="충남 예산군">예산군</option>
                    <option value="충남 태안군">태안군</option>
                  </optgroup>
                  {% comment %} 충북 {% endcomment %}
                  <optgroup label="충북">
                    <option value="충북 청주시 상당구">청주시 상당구</option>
                    <option value="충북 청주시 흥덕구">청주시 흥덕구</option>
                    <option value="충북 청주시 서원구">청주시 서원구</option>
                    <option value="충북 청주시 청원구">청주시 청원구</option>
                    <option value="충북 충주시">충주시</option>
                    <option value="충북 제천시">제천시</option>
                    <option value="충북 보은군">보은군</option>
                    <option value="충북 옥천군">옥천군</option>
                    <option value="충북 영동군">영동군</option>
                    <option value="충북 증평군">증평군</option>
                    <option value="충북 진천군">진천군</option>
                    <option value="충북 괴산군">괴산군</option>
                    <option value="충북 음성군">음성군</option>
                    <option value="충북 단양군">단양군</option>
                  </optgroup>
                  {% comment %} 대전 {% endcomment %}
                  <optgroup label="대전">
                    <option value="대전 중구">중구</option>
                    <option value="대전 서구">서구</option>
                    <option value="대전 유성구">유성구</option>
                    <option value="대전 대덕구">대덕구</option>
                  </optgroup>
                  {% comment %} 세종 {% endcomment %}
                  <optgroup label="세종">
                    <option value="세종 조치원읍">조치원읍</option>
                    <option value="세종 연기면">연기면</option>
                    <option value="세종 연동면">연동면</option>
                    <option value="세종 부강면">부강면</option>
                    <option value="세종 금남면">금남면</option>
                    <option value="세종 장군면">장군면</option>
                    <option value="세종 연서면">연서면</option>
                    <option value="세종 전의면">전의면</option>
                    <option value="세종 전동면">전동면</option>
                    <option value="세종 소정면">소정면</option>
                    <option value="세종 한솔동">한솔동</option>
                    <option value="세종 새롬동">새롬동</option>
                    <option value="세종 나성동">나성동</option>
                    <option value="세종 다정동">다정동</option>
                    <option value="세종 도담동">도담동</option>
                    <option value="세종 어진동">어진동</option>
                    <option value="세종 해밀동">해밀동</option>
                    <option value="세종 아름동">아름동</option>
                    <option value="세종 종촌동">종촌동</option>
                    <option value="세종 고운동">고운동</option>
                    <option value="세종 보람동">보람동</option>
                    <option value="세종 대평동">대평동</option>
                    <option value="세종 소담동">소담동</option>
                    <option value="세종 반곡동">반곡동</option>
                  </optgroup>
                  {% comment %} 대구 {% endcomment %}
                  <optgroup label="대구">
                    <option value="대구 중구">중구</option>
                    <option value="대구 동구">동구</option>
                    <option value="대구 서구">서구</option>
                    <option value="대구 남구">남구</option>
                    <option value="대구 북구">북구</option>
                    <option value="대구 수성구">수성구</option>
                    <option value="대구 달서구">달서구</option>
                    <option value="대구 달성군">달성군</option>
                    <option value="대구 군위군">군위군</option>
                  </optgroup>
                  {% comment %} 경북 {% endcomment %}
                  <optgroup label="경북">
                    <option value="경북 포항시 남구">포항시 남구</option>
                    <option value="경북 포항시 북구">포항시 북구</option>
                    <option value="경북 경주시">경주시</option>
                    <option value="경북 김천시">김천시</option>
                    <option value="경북 안동시">안동시</option>
                    <option value="경북 구미시">구미시</option>
                    <option value="경북 영주시">영주시</option>
                    <option value="경북 영천시">영천시</option>
                    <option value="경북 상주시">상주시</option>
                    <option value="경북 문경시">문경시</option>
                    <option value="경북 경산시">경산시</option>
                    <option value="경북 의성군">의성군</option>
                    <option value="경북 청송군">청송군</option>
                    <option value="경북 영양군">영양군</option>
                    <option value="경북 영덕군">영덕군</option>
                    <option value="경북 청도군">청도군</option>
                    <option value="경북 고령군">고령군</option>
                    <option value="경북 성주군">성주군</option>
                    <option value="경북 칠곡군">칠곡군</option>
                    <option value="경북 예천군">예천군</option>
                    <option value="경북 봉화군">봉화군</option>
                    <option value="경북 울진군">울진군</option>
                    <option value="경북 울릉군">울릉군</option>
                  </optgroup>
                  {% comment %} 울산 {% endcomment %}
                  <optgroup label="울산">
                    <option value="울산 중구">중구</option>
                    <option value="울산 남구">남구</option>
                    <option value="울산 동구">동구</option>
                    <option value="울산 북구">북구</option>
                    <option value="울산 울주군">울주군</option>
                  </optgroup>
                  {% comment %} 부산 {% endcomment %}
                  <optgroup label="부산">
                    <option value="부산 중구">중구</option>
                    <option value="부산 서구">서구</option>
                    <option value="부산 동구">동구</option>
                    <option value="부산 남구">남구</option>
                    <option value="부산 북구">북구</option>
                    <option value="부산 영도구">영도구</option>
                    <option value="부산 부산진구">부산진구</option>
                    <option value="부산 동래구">동래구</option>                    
                    <option value="부산 강서구">강서구</option>
                    <option value="부산 해운대구">해운대구</option>
                    <option value="부산 사하구">사하구</option>
                    <option value="부산 금정구">금정구</option>
                    <option value="부산 연제구">연제구</option>
                    <option value="부산 수영구">수영구</option>
                    <option value="부산 사상구">사상구</option>
                    <option value="부산 기장군">기장군</option>
                  </optgroup>
                  {% comment %} 경남 {% endcomment %}
                  <optgroup label="경남">
                    <option value="경남 창원시 의창구">창원시 의창구</option>
                    <option value="경남 창원시 성산구">창원시 성산구</option>
                    <option value="경남 창원시 마산합포구">창원시 마산합포구</option>
                    <option value="경남 창원시 마산회원구">창원시 마산회원구</option>
                    <option value="경남 창원시 진해구">창원시 진해구</option>
                    <option value="경남 진주시">진주시</option>
                    <option value="경남 통영시">통영시</option>
                    <option value="경남 사천시">사천시</option>
                    <option value="경남 김해시">김해시</option>
                    <option value="경남 밀양시">밀양시</option>
                    <option value="경남 거제시">거제시</option>
                    <option value="경남 양산시">양산시</option>
                    <option value="경남 의령군">의령군</option>
                    <option value="경남 함안군">함안군</option>
                    <option value="경남 창녕군">창녕군</option>
                    <option value="경남 고성군">고성군</option>
                    <option value="경남 남해군">남해군</option>
                    <option value="경남 하동군">하동군</option>
                    <option value="경남 산청군">산청군</option>
                    <option value="경남 함양군">함양군</option>
                    <option value="경남 거창군">거창군</option>
                    <option value="경남 합천군">합천군</option>
                  </optgroup>
                  {% comment %} 전북 {% endcomment %}
                  <optgroup label="전북">
                    <option value="전북 전주시 완산구">전주시 완산구</option>
                    <option value="전북 전주시 덕진구">전주시 덕진구</option>
                    <option value="전북 군산시">군산시</option>
                    <option value="전북 익산시">익산시</option>
                    <option value="전북 정읍시">정읍시</option>
                    <option value="전북 남원시">남원시</option>
                    <option value="전북 김제시">김제시</option>
                    <option value="전북 완주군">완주군</option>
                    <option value="전북 진안군">진안군</option>
                    <option value="전북 무주군">무주군</option>
                    <option value="전북 장수군">장수군</option>
                    <option value="전북 임실군">임실군</option>
                    <option value="전북 순창군">순창군</option>
                    <option value="전북 고창군">고창군</option>
                    <option value="전북 부안군">부안군</option>
                  </optgroup>
                  {% comment %} 광주 {% endcomment %}
                  <optgroup label="광주">
                    <option value="광주 동구">동구</option>
                    <option value="광주 서구">서구</option>
                    <option value="광주 남구">남구</option>
                    <option value="광주 북구">북구</option>
                    <option value="광주 광산구">광산구</option>
                  </optgroup>
                  {% comment %} 전남 {% endcomment %}
                  <optgroup label="전남">
                    <option value="전남 목포시">목포시</option>
                    <option value="전남 여수시">여수시</option>
                    <option value="전남 순천시">순천시</option>
                    <option value="전남 나주시">나주시</option>
                    <option value="전남 광양시">광양시</option>
                    <option value="전남 담양군">담양군</option>
                    <option value="전남 곡성군">곡성군</option>
                    <option value="전남 구례군">구례군</option>
                    <option value="전남 고흥군">고흥군</option>
                    <option value="전남 보성군">보성군</option>
                    <option value="전남 화순군">화순군</option>
                    <option value="전남 장흥군">장흥군</option>
                    <option value="전남 강진군">강진군</option>
                    <option value="전남 해남군">해남군</option>
                    <option value="전남 영암군">영암군</option>
                    <option value="전남 무안군">무안군</option>
                    <option value="전남 함평군">함평군</option>
                    <option value="전남 영광군">영광군</option>
                    <option value="전남 장성군">장성군</option>
                    <option value="전남 완도군">완도군</option>
                    <option value="전남 진도군">진도군</option>
                    <option value="전남 신안군">신안군</option>
                  </optgroup>
                  {% comment %} 제주 {% endcomment %}
                  <optgroup label="제주">
                    <option value="제주 제주시">제주시</option>
                    <option value="제주 서귀포시">서귀포시</option>
                  </optgroup>
                </select>
              </div>
              <br>
              <div class="img_previews">
                <input type="file" name="profile_img" id="imageFile">
                <img id="preview">
              </div>                
              <br>
              <button type="button" id="submit" onclick="clickhandler()">회원가입</button>
          </form>
    </div>
</div>
<script>
  $("#imageFile").on("change", function(event) {

    var file = event.target.files[0];

    var reader = new FileReader(); 
    reader.onload = function(e) {

        $("#preview").attr("src", e.target.result);
    }

    reader.readAsDataURL(file);
});

  function clickhandler(){
    const username = $("#username").val()
    const password = $("#password").val()
    const email = $("#email").val()
    const introduce = $("#introduce").val()
    const address = $("#address").val()
    const profile_img = $("#imageFile").val()


    $.ajax({
        url: "/accounts/auth/signup/",
        type: "POST",
        data: {
            username:username,
            password:password,
            email:email,
            introduce:introduce,
            address:address,
            profile_img:profile_img,
        },
        success: function(response) {
            console.log("success : ",response);
            location.href="{% url 'accounts:login' %}"
        },
        error: function(error) {
            console.log("error : ",error);
        },
    });
  };
</script>
{% endblock content %}