{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .profile-img {
        width: 15px;
        height: 15px;
    }
    #main-container {
        background-color: lightgray;
        display: flex;
        flex-direction: column;
    }

    #main-container>.article-container {
        width: 200px;
        height: flex;
        background-color: white;
        border: 1px gray solid;
        margin-bottom: 4px;
    }

    #main-container>.article-container>.like {
        font-size: 15px;
    }

    #main-container>.article-container>img {
        width: 50px;
        height: 50px;
    }
    </style>
    {% block title %}
    <title>오.운.완</title>
    {% endblock title %}
    <h1>ARTICLE LIST</h1>
    {% if request.user.is_authenticated %}
        <h2>{{ request.user }}</h2>
    {% endif %}
    <a class="nav-link" href="{% url 'articles:list-template'%}">목록</a>
    {% if request.user.is_authenticated %}
        <a class="nav-link" href="{% url 'articles:create-template' %}">글 작성</a>
    {% else %}
        <a class="nav-link" href="{% url 'accounts:login' %}">로그인</a>
    {% endif %}
    <div id="main-container"></div>

    <script>
        const UserId = "{{ request.user.id }}";
        $.ajax({
            type: "GET",
            url: "/articles/",
            success: function (response) {
                console.log(response)
                const mainContainer = document.getElementById('main-container')
                response.forEach(function (article) {
                    const articleContainer = document.createElement('div')
                    articleContainer.classList.add('article-container')
                    const date = new Date(article.created_at)
                    let articleHTML = `
                <div class="content">${article.content}</div>
                <div class="created-at">${date.getFullYear()}-${date.getMonth()+1}-${date.getDate()}</div>
                <div class="like">좋아요: ${article.like_count}개</div>
                <div class="comment"><a href="/articles/${article.id}/template/">댓글 ${article.comments_count}개 모두 보기</a></div>
                <div class="hashtags"></div>
            `;

            if (article.image) {
                articleHTML = `<img src='${article.image}'/>` + articleHTML;
            }
            if (article.author_profile_img) {
                articleHTML=`<div class="author"><img src='${article.author_profile_img}' class="profile-img"/> ${article.author_username}</div>`+articleHTML
            }
            else{
                articleHTML=`<div class="author"><img src="{% static 'accounts/user.png' %}" class="profile-img"/> ${article.author_username}</div>`+articleHTML
            }
            if (article.author == UserId) {
                            articleHTML = articleHTML+`<div class="update"><a href="/articles/${article.id}/update/template/">수정</a> <a href="#" onclick="deleteArticle(${article.id}); return false;">삭제</a></div>`;
                        }

            articleContainer.innerHTML = articleHTML;
                    mainContainer.appendChild(articleContainer)
                    const hashtagsContainer = articleContainer.querySelector('.hashtags');
            console.log(article.hashtags)
            article.hashtags.forEach(function (hashtag) {
    if (hashtag.name.trim() !== '') {
        const hashtagElement = document.createElement('span');
        hashtagElement.classList.add('hashtag');
        hashtagElement.textContent = `#${hashtag.name} `;
        hashtagsContainer.appendChild(hashtagElement);
    }
});
                })
            },
        });
        function deleteArticle(articleId) {
    if (confirm("게시글을 삭제하시겠습니까?")) {
        $.ajax({
            type: "DELETE",
            url: `/articles/${articleId}/`,
            success: function(response) {
                alert("게시글이 삭제되었습니다.");
                location.href = '/articles/list/template/';
            },
            error: function(xhr, textStatus, errorThrown) {
                alert("게시글 삭제에 실패했습니다. 다시 시도해주세요.");
            }
        });
    }
}
    </script>
{% endblock %}