{% extends 'base.html' %}

{% block content %}
    <h1>ARTICLE CREATE3 - 이미지 업로드</h1>
    <form onsubmit="createArticle(event)">
        <textarea name="content" id="" cols="30" rows="10" required></textarea>
        <br>
        <input name="hashtags" type="text">
        <br>
        <input name="image" accept="image/*" type="file" required>
        <br>
        <button>게시글 업로드</button>
    </form>

    <script>
        function createArticle(event) {
            event.preventDefault();
            console.log('게시글 업로드')
            {# FormData #}
            {#    content  | 오늘 운동 완료 ㅎㅎ #}
            {#    hashtags | 오운완,운동      #}
            {#    image    | logo.png     #}
            $.ajax({
                type: 'POST',
                url: '/articles/',
                data: new FormData(event.target),
                contentType: false,
                processData: false,
                success: function (response) {
                    location.href = '{% url "articles:list-template" %}'
                }
            })
        }
    </script>
{% endblock %}
