{% extends 'base.html' %}

{% block content %}
    <h1>ARTICLE CREATE</h1>
    <a class="nav-link" href="{% url 'articles:list-template'%}">목록으로 돌아가기</a>
    <form onsubmit="createArticle(event)">
        <textarea name="content" id="" cols="30" rows="10" placeholder='내용을 입력해주세요.' required></textarea>
        <br>
        <input name="hashtags" type="text" placeholder="ex) 오운완,상체,하체">
        <br>
        <input name="image" accept="image/*" type="file" required>
        <br>
        <button>게시글 업로드</button>
    </form>

    <script>
        function createArticle(event) {
            event.preventDefault();
            console.log('게시글 업로드')
            $.ajax({
                type: 'POST',
                url: '/articles/',
                data: new FormData(event.target),
                contentType: false,
                processData: false,
                success: function (response) {
                    location.href = '{% url "articles:list-template" %}'
                }
            })
        }
    </script>
{% endblock %}
