{% extends 'base.html' %}

{% block content %}
{% block title %}
<title>저장목록 생성</title>
{% endblock title %}

<h1>SAVED CREATE</h1>
<a class="nav-link" href="{% url 'articles:list-template'%}">게시글 목록 조회</a>
<a class="nav-link" href="{% url 'articles:saved-list-template'%}">저장목록 조회</a>
<br>
<form onsubmit="createArticleSaved(event)">
    <input name="name" type="text" placeholder="저장목록 이름을 입력하세요." required>
    <br>
    <button type="submit">저장목록 생성</button>
</form>
<script>
    function createArticleSaved(event) {
        event.preventDefault();
        $.ajax({
            type: 'POST',
            url: '/articles/saved/',
            data: new FormData(event.target),
            contentType: false,
            processData: false,
            success: function (response) {
                location.href = '{% url "articles:saved-list-template" %}'
            }
        })
    }
</script>
{% endblock %}